{% extends 'blog/base.html' %}

{% block title %}Liste des Articles{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Tous les Articles</h1>

{% if posts %}
    <ul class="space-y-4">
        {% for post in posts %}
            <li class="border-b pb-4">
                <a href="{% url 'post_detail' post.pk %}" class="text-blue-500 font-semibold hover:underline">{{ post.title }}</a>
                <p class="text-sm text-gray-500">Publié le {{ post.created_at|date:"d M Y" }} - Statut: 
                    {% if post.status == 'P' %}
                        <span class="text-green-500">Publié</span>
                    {% else %}
                        <span class="text-yellow-500">Brouillon</span>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun article disponible pour le moment.</p>
{% endif %}
{% endblock %}
